* {
    margin: 0;
    padding-bottom: 10px;
}
header{
    background-image: linear-gradient(pink, violet);
    text-align: center;
}
h1 {
    color: white;
}
footer{
    text-align: center;
    animation-name: cambioFondo;
    animation-duration: 20s;
}
.imagenfondo{
    background-image: url("https://placedog.net/200");
    background-repeat: repeat;
    /*background-size: cover;*/
}
.cursiva{
    font-style: italic;
}
.ephesis{
    font-family: 'Ephesis', cursive;
}
.bordes {
    border: solid 2px black;
    width: 600px;
    overflow: auto; /* overflow no es necesario pero lo pongo para un futuro*/

}
input {
    margin: 5px;
}
p {
    margin: 5px;
}
.flex_menu  {
    display: flex;
    flex-flow: row wrap;
    justify-content: start;
    align-items: center;
    flex: 1 0 60px;
}
.grid {
    display: grid;
    grid-template-areas: "header" "menu" "main" "footer";
}
.header {
    grid-area: header;
}
.menu  {
    grid-area: menu;
}
.main  {
    grid-area: main;
}
.footer  {
    grid-area: footer;
}
@keyframes cambioFondo {
    0% {
        background-image: linear-gradient(pink, violet);
    }
    25% {
        background-image: radial-gradient(violet, purple);
    }
    50% {
        background-image: radial-gradient(purple, rgb(0,12,255));
    }
    75% {
        background-image: radial-gradient(blue, purple);
    }
    100% {
        background-image: linear-gradient(purple, violet);
    }
}







/*tablet */
@media (min-width: 600px) and (max-width: 1023px) {
    body { background-color: green;
    }
/*celu */
}

@media (min-width: 320px) and (max-width: 599px) {
    body{ background-color: red;
    }

}
/* {

}*/